**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
# No excluyas el docker-compose y Dockerfile
# **/docker-compose*
# **/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**

# Excluye todos los Dockerfile menos los que están en las carpetas de servicios
**/Dockerfile*
!Onlycats.PostService/Dockerfile
!Onlycats.InteractionService/Dockerfile
!Onlycats.UserService/Dockerfile
!Onlycats/Dockerfile
